@import 'variables'

autocomplete
  display inline-block
  input
    width 100%
    box-sizing border-box
    border none
    color $primary
    &::placeholder
      color $primary-lighter
      margin-left: 0.2em

  .suggestions
    list-style-type none
    cursor default
    padding 0 2rem 0 0
    margin 0
    border none
    background $white
    position absolute
    z-index 9999 
    max-height 15rem 
    overflow hidden 
    overflow-y auto 
    box-sizing border-box
    color $primary

  .suggestion
    padding 0 .3rem
    line-height 1.5rem
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  .suggestionhover, .suggestion.selected 
    color $magenta
