@import '../../node_modules/jeet/styl'
@import 'typographic'

nav
  center(60em)
  ul.nav-list
    list-style-type none
    li
      column(1/3)
      display inline-block
      a
        display block
        text-align center
        t-h5()
        padding-top 0
        margin-top 0 !important
        