@import 'typographic'
@import 'variables'


html
  t-html()
  
p, blockquote, pre,
address,
dl, ol, ul,
table
  t-block()

h1,h2,h3,h4,h5
  t-header()

h1
  t-h1()

h2
  t-h2()

h3
  t-h3()
  
h4
  t-h4()
  
h5
  t-h5()

h6
  t-h6()
