// colors
$primary = #3a3c83
$primary-light = lighten($primary, 45%)
$primary-lighter = lighten($primary, 70%)
$white = #fff
$orange = orange
$magenta = #FF0070
$link-color = $primary
$link-hover = $magenta




// typography
$body-font = 'Space Mono', Menlo, Monaco, Consolas, "Courier New", monospace
$header-font = 'Space Mono', Menlo, Monaco, Consolas, "Courier New", monospace
$line-height-ratio  = 1.75
$header-ratio       = $golden
$body-font-weight   = 300
$body-color         = $primary
$header-font-weight = 500
$header-color       = $primary
$min-font           = 16px
$max-font           = 32px
$min-width          = 600px
$max-width          = 1200px
$vertical-rhythm    = false